.wrapper {
    margin: auto;
    width: 100%;
    max-width: 800px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    padding: 8px;
    position: relative;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 40px;
}